html, body {
	height: 100%;
}

body {
	background-color: #f2f2f2;
	color: #333;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	text-align: center;

	min-width: 320px;
}

.home-wrapper {
	padding: 1em;

	h1, h2 { padding-bottom: 1rem; }
	p { font-size: 0.9em; }
}

.avatar {
	border-radius: 50%;
	background-size: cover;
	background-image: url('/img/gravatar.jpg?1381629758');
	height: 8em;
	margin: 0 auto 1rem;
	width: 8em;
	border: .25em solid white;
}

@media #{$mq-med-up} {
	body {
		font-size: 1.2em;
	}
}
@media #{$mq-xmed-up} {
	body {
		font-size: 1.4em;
	}

	.avatar,
	.text-wrapper {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}

	.avatar {
		margin: 0 1em 0 0;
	}

	.text-wrapper {
		width: 70%;
		max-width: 27em;
	}
}
@media #{$mq-lg-up} {
	body {
		font-size: 1.6em;
	}
}
@media #{$mq-xlg-up} {
	body {
		font-size: 1.8em;
	}
}