#####################
# .gitignore		#
#####################

# node				#
#####################
node_modules

# sass				#
#####################
public/css

# misc				#
#####################
**/.DS_Store