extends layout

block content
	.wrapper
		.avatar
		.text-wrapper
			h1 Scotty Eckenthal
			h2 Front End Engineer / Web Guy DIY / etc.
			p
				| Hi! I'm a web developer living in Brooklyn. I work as a Front End Engineer at 
				a(href='https://www.learnvest.com', target='new') LearnVest 
				| in Manhattan, where I'm a part of a super awesome product development team that builds cool stuff for your money!
			p
				a(href='mailto:scott.eckenthal@gmail.com', target='new') scott.eckenthal@gmail.com
				|  | 
				a(href='http://www.github.com/scottyeck', target='new') @scottyeck
