doctype html
html
	
	head
		title Scotty Eckenthal
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=false')
		link(rel='stylesheet', type='text/css', href='/css/screen.css')
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Bitter', rel='stylesheet', type='text/css')
	
	body
		block content